@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@plugin 'daisyui';
.cinzel {
	font-family: 'Cinzel', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.playfair {
	font-family: 'Playfair Display', serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}
